<!--./index.ejs-->
<html>
 <head>
  <link rel="stylesheet" href="/style.css">
  <title> Serving HTML and CSS </title> 
 </head>
<body>
    <h1><%=data.name%></h1>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <input type="file" name="fileName" multiple><br />
        <input type="submit" value="submit">
    </form>
</body>
</html>